.clubes_cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 70px;
    margin-top: 250px; /* Ajusta este valor según tus necesidades */
    margin-bottom: 5px;
}
