* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;

    min-height: 100vh;
    align-items: center;
    background-image: url("./src/assets/6110905.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.form {
    margin-top: 30px;

}

.Register {
    width: 420px;
    background: transparent;
    color: #fff;
    border-radius: 10px;
    padding: 40px;


}

.Register h1 {
    font-size: 36px;
    text-align: center;



}

.logo {
    position: relative;
    right: 30px;
}

.input {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0px;

    border-radius: 50px;


}

.input_box {
    font-size: 16px;
    color: #fff;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50px;
    padding: 20px;


}

.input_box::placeholder {
    color: #fff;
}



.select {
    position: relative;
    font-size: 16px;
    color: #fff;
    width: 100%;
    height: 120%;
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50px;
    padding: 20px;
    margin-bottom: 50px;
    overflow: hidden;

}

::placeholder {
    color: #fff;
}

.select option {
    margin: 40px;
    background: rgb(0, 102, 175);
    color: #ffffff;
    text-shadow: 0 1px 0 rgb(255, 255, 255);
}

.icon {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 20px;

}

.submit {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 700;
    margin-top: 8px;
    margin-bottom: 8px;
}

.submit:hover {
    background-color: rgb(146, 157, 255);
}

.login_link {
    font-size: 14.5px;
    text-align: center;
    font-weight: 600;


}

.login_link:hover {
    text-decoration: underline;


}

.btn {
    margin: 5px;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    outline: none;
    border: none;
    border-radius: 50px;

}

.goo_fc {
    margin: 8px;

}

.icon2 {

    margin-top: 15px;
    font-size: 35px;
    background-color: whitesmoke;
    border-radius: 30px;
    width: max-content;


}